<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тесты для всех</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h3>Добро пожаловать на сайт {{request.user.username}}!</h3>

        <form method="LINK" action="/quiz/">
            <input type="submit" value="Перейти к тестам">
        </form>

        <form method="LINK" action="/logout/">
            <input type="submit" value="Сменить пользователя">
        </form>

    {% else %}

        <h3>Для прохождения тестов необходимо авторизоваться.</h3>

        <form method="LINK" action="/login/">
            <input type="submit" value="Авторизоваться">
        </form>

        <form method="LINK" action="/register/">
            <input type="submit" value="Зарегистрироваться">
        </form>

    {% endif %}
</body>
</html>